body {
    text-align: center;
    background-color: #35374B;
}

h1 {
  font-family: "Micro 5", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5em;
  width: auto;
  display: inline-block;
}

.container {
    display: block;
    width: auto;
    margin: auto;
}

.btn {
    display: inline-block;
    width: 200px;
    height: 200px;
    border: black solid 10px;
    margin: 15px;
}

.red {
    background-color: red;
    border-radius: 150px 30px 30px;
}

.green {
    background-color: green;
    border-radius: 30px 150px 30px 30px;
}

.blue {
    background-color: blue;
    border-radius: 30px 30px 30px 150px;
}

.yellow {
    background-color: yellow;
    border-radius: 30px 30px 150px 30px;
}

.pressed {
    box-shadow: 0 0 30px 10px white;
    background-color: grey;
}

/* first time debug code here */